{% extends 'base.html' %}

{% block title %}Ansatt{% endblock %}

{% block head %}
  <style>
    h1, h2, h3, p {
      margin: 0;
    }

    main {
      padding: .5rem;
    }

    .status {
      display: flex;

      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      height: 2rem;
      padding: 0 .75rem;
      border-radius: 1rem;
      border: none;
      font: inherit;

      &.open {
        background-color: green;
        color: white;
      }

      &.closed {
        background-color: red;
        color: white;
      }

      &.inprogress {
        background-color: plum;
        color: white;
      }
    }

    section {
      padding: .5rem;
    }

    .tickets {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: .5rem;
    }
    .ticket {
      display: flex;
      flex-direction: column;
      padding: .5rem;
      gap: .5rem;
      border-radius: .5rem;
      box-shadow: 0 .25rem 1rem 0 #0000007f;
      
      &>.title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      &>p {
        border-left: .25rem solid teal;
        padding: .5rem;
      }
    }
    .changestatus {
      display: flex;
      flex-direction: row;
      gap: .5rem;

      & .status {
        flex: 1;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      & input {
        height: 2rem;
        border: 1px solid #7f7f7f;
        margin: 0;
      }
    }
    label {
      display: flex;
      flex-direction: column;

      &:has([type="checkbox"]) {
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        &>input {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  </style>
{% endblock %}

{% block header %}
  <h1>Ansatt</h1>
{% endblock %}

{% block content %}
  <main>
    <section>
      <h2>Tickets</h2>
      <div class="tickets">
        {% for ticket in tickets %}
          <div class="ticket">
            <div class="title">
              <h3>
                {{ ticket['title'] }}
              </h3>
              <span class="status {{ ticket['status'] == 'in progress' and 'inprogress' or ticket['status'] }}">
                {{ ticket['status'] }}
              </span>
            </div>
            <p>{{ ticket['description'] }}</p>
            <span>Set status</span>
            <div>
              <form class="changestatus" action="ticket_change_status" method="post">
                {% for status in ['open', 'in progress', 'closed'] %}
                  <button name="{{ status }}" value="{{status}}" class="status {{ status == 'in progress' and 'inprogress' or status }}">
                    {{ status }}
                  </button>
                {% endfor %}
                <input type="hidden" name="uuid" value="{{ ticket.id }}">
              </form>
              
            </div>
            <a href="/ticket/{{ ticket['id'] }}">Gå til ticket</a>
          </div>
        {% endfor %}
      </div>
    </section>
    <section>
      <h2>Brukere</h2>
      <form action="/adduser" method="post">
        <label>
          Epost
          <input type="email" name="email" placeholder="Epost-adresse">
        </label>
        <label>
          Navn
          <input type="text" name="name" placeholder="Navn">
        </label>
        <label>
          Passord
          <input type="password" name="password" placeholder="Passord">
        </label>
        <label>
          Admin
          <input type="checkbox" name="admin">
        </label>
        <input type="submit" value="Legg til bruker">
      </form>
    </section>
  </main>
{% endblock %}