<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/base.css">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    {% block header %}{% endblock %}
    <nav>
      <a href="{{ url_for('ticket') }}">Tickets</a>
      <a href="{{ url_for('login') }}">For ansatte</a>
    </nav>
  </header>
  {% block content %}{% endblock %}
</body>
</html>