{% extends 'base.html' %}

{% block title %}Ansatte - Logg inn{% endblock %}

{% block head %}
    <style>
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .form{
            height: 70%;
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    </style>
{% endblock %}

{% block header %}<h1>Logg inn</h1>{% endblock %}

{% block content %}
    <div class="main">
        <form class="form" method="POST" action="/login">
            <input type="email"
                name="email"
                placeholder="Epost-adresse">
            <input type="password"
                name="password"
                placeholder="Password">
            <button type="submit">Logg inn</button>
        </form>
    </div>

{% endblock %}