<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html { height: 100%; }
        body {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .main {
            display: flex;
            flex-direction: column;
            height: 70%;
            width: 70%;
        }
        .form{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    </style>
</head>

<body>
        <div class="main">
            <h1>Login</h1>
            <form class="form" method="POST" action="/login">
                <input type="text"
                    name="username"
                    placeholder="Username">
                <input type="password"
                    name="password"
                    placeholder="Password">
            <button type="submit">submit</button>
        </form>
    </div>
       
        
        
</body>
</html>