{% extends 'base.html' %}

{% block title %}Ticket - {{ title }}{% endblock %}

{% block header %}<h1>Ticket</h1>{% endblock %}

{% block head %}
  <style>
    main {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding: .5rem;
      flex: 1;

      &>* {
        width: 500px;
        max-width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        gap: 1rem;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem 0 #0000007f;
        display: flex;
        flex-direction: column;

        &>* {
          margin: 0;
        }
        &>p {
          border-left: .125rem solid teal;
          padding-left: .5rem;
        }

        &>.sender>:nth-child(2) {
          font-style: italic;
        }
      }
    }

    .status {
      padding: 0 .75rem;
      border-radius: 1rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &.open {
        background-color: green;
        color: white;
      }

      &.inprog {
        background-color: plum;
        color: white;
      }

      &.closed {
        background-color: red;
        color: white;
      }
    }
    .messagelist {
      display: flex;
      flex-direction: column;
      gap: .125rem;

      &>.message {
        padding: .5rem;
        border-radius: .75rem;
        max-width: 80%;
        &.left {
          align-self: flex-start;
          background-color: teal;
          color: white;
        }

        &.right {
          align-self: flex-end;
          background-color: lightgray;
        }
      }
    }
    form {
      display: flex;
      flex-direction: row;
      gap: .5rem;

      &>input {
        margin: 0;
        padding: 0;
        height: 2.5rem;
        border: .125rem solid #dfdfdf;
        padding: .5rem;
        box-sizing: border-box;
      }

      &>[type="text"] {
        flex: 1;
      }
    }
  </style>
{% endblock %}

{% block content %}
  <main>
    <div class="ticket">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
      <div class="sender">
        <span>{{ name }}</span>
        <span>({{ email }})</span>
      </div>
      <span class="status {{ status == 'in progress' and 'inprog' or status }}">{{ status }}</span>
    </div>
    <div class="messages">
      <h2>Meldinger</h2>
      <div class="messagelist">
        {% for message in messages %}
          <span class="message {{ message['name'] and 'left' or 'right' }}">{{ message['content'] }}</span>
        {% endfor %}
      </div>
      <form action="/message" method="post">
        <input type="text" name="content" placeholder="Melding">
        <input type="hidden" name="ticket" value="{{ uuid }}">
        <input type="submit" value="Send">
      </form>
    </div>
  </main>
{% endblock %}