<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Fjell Bedriftsløsninger</h1>
        <h2>Tickets</h2>
        <p>Titel</p>
        <form action="/" method="post">
            <input type="title"
                    name="title"
                    placeholder="title">
            <p>Full Name</p>
            <input type="name"
                    name="name"
                    placeholder="Name">
            <p>E-mail</p>
            <input  type="email"
                    name="email"
                    placeholder="email">
            <p>Description</p>
            <input type="description"
                    name="description"
                    placeholder="description">
            <button type="submit">Send Ticket</button>
        </form>
    
</body>
</html>